@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  @apply bg-gradient-to-r from-black to-gray-900 text-white font-sans;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.Navbar-page-link{
  @apply transition-transform duration-300 hover:text-indigo-600 hover:scale-110 text-2xl;
}

.social-page-link{
  @apply transition-transform duration-300 hover:text-indigo-600 hover:scale-110;
}


/* Typewriter effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 0;
  animation:
    typing 2s steps(50, end) forwards,
    blink 0.8s step-end infinite;
}
/* Typewriter effect */


.text-shadow{
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.skills-outside-hover-effect {
  @apply transition duration-500 hover:bg-gray-700 hover:text-gray-300;
}

.skills-inside-hover-effect {
  @apply transition duration-500 hover:shadow-inner hover:shadow-blue-300/30 hover:scale-105 flex flex-col items-center;
}
.pdf-download-button{
  @apply  bg-gray-700 hover:bg-gray-800 transition duration-400 hover:scale-103 border border-black font-bold rounded p-5;
}

.img-hover-scale-effect{
  @apply hover:shadow-2xl hover:scale-104 transition-all duration-300;
}

.portfolio-card-effect{
  @apply bg-gray-500/50 rounded-3xl p-4 text-center hover:scale-104 transition-all duration-300;
}


/* Responsive website styles */
.adaptable-text-size{
  @apply text-2xl;
}
.adaptable-title-size{
  @apply text-4xl sm:text-5xl lg:text-6xl;
}
.adaptable-skills-grid{
  @apply grid grid-cols-1 sm:grid-cols-2  gap-4 p-4;
}

.adaptable-margin-size{
  @apply ml-10 mr-10
}

.cats-margin-size{
  @apply sm:ml-40 sm:mr-40
}

