/* Pallete:
White: #ffffff
Light Grey: #EEEEEE
Dark Grey: #808080
Dark Blue: #344551
Beige: #faf3ed
*/

/* Default: PC & Larger Laptops (Large devices) */
/* Navigation bar */
header {
    background-color: #344551;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 70px;
    height: auto;
    border-radius: 100%;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    padding-right: 25px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: 0.2s ease-in;
}

nav a:hover {
    color: #faf3ed;
    font-size: 25px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-bottom: 3px;
}

.logo:hover {
    border-top: none;
    border-bottom: none;
}

/* Web containers */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.home_container, .home_quote_container, .aboutme_container, .contact_container {
    text-align: center;
}

.aboutme_container_intro, .aboutme_container_skills, .contact_container {
    background-color: #EEEEEE;
    padding: 10px;
    margin: 5%;
}

.first_achievements_row, .second_achievements_row, .third_achievements_row, .fourth_achievements_row {
    padding: 40px 0;
}

.portfolio_container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.video_wrapper {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    background-color: #EEEEEE;
    padding: 5px 40px;
}

.cats_container{ 
    text-align: center;
}

.cat_video_wrapper {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
    background-color: #faf3ed;
    padding: 40px 40px;
}

.video_wrapper h3 {
    margin-top: 0;
}

.video_wrapper p {
    font-size: 16px;
    transition: font-size 0.5s;
}

.video_wrapper p:hover {
    font-size: 18px;
}

footer {
    text-align: center;
    color: #808080;
}

/* images */
.clickable-img {
    width: 20%;
    height: 20%;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.clickable-img.enlarged {
    transform: scale(1.8);
}

#badge {
    width: 10%;
    height: 10%;
}

.selfie_img {
    padding-top: 2%;
    border-radius: 50%;
    overflow: hidden;
    width: 20%;
    height: 20%;
}

.video_wrapper .portfolio_author img {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
}

.cats_greeting_img {
    width: 100%;
    height: 10%;
}

button {
    background-color: #808080;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #faf3ed;
    color: #808080;
}

/* Responsive Webpage */

/* iPhones & iPads (Small devices) */
@media (max-width: 768px) {

    /* Navigation bar */
    header {
        background-color: #344551;
        padding: 15px;
    }

    nav img {
        display: none; /* Hide the logo on small devices */
    }

    nav ul {
        margin-right: 25px;
    }

    nav li {
        padding-right: 10px;
    }

    nav a {
        font-size: 15px;
    }

    nav a:hover {
        font-size: 16px;
    }

    /* Web containers */
    .clickable-img {
        width: 60%;
        height: 60%;
    }

    .clickable-img.enlarged {
        transform: scale(1.6);
    }

    #badge {
        width: 30%;
        height: 30%;
    }

    .selfie_img {
        width: 60%;
        height: 20%;
    }

    .video_wrapper .portfolio_author img {
        width: 40px;
        height: 40px;
    }
}

/* Tablets & Small Laptops (Medium devices) */
@media (min-width: 769px) and (max-width: 1024px) {

    /* Navigation bar */
    header {
        background-color: #344551;
        padding: 5px;
    }

    nav img {
        display: none; /* Hide the logo on medium devices */
    }

    nav ul {
        margin-right: 0;
    }

    nav li {
        padding: 5px;
    }

    nav a {
        font-size: 18px;
    }

    nav a:hover {
        font-size: 19px;
    }

    /* Web containers */
    .aboutme_container_intro, .aboutme_container_skills {
        border-radius: 10%;
    }

    .clickable-img {
        width: 60%;
        height: 60%;
    }

    .clickable-img.enlarged {
        transform: scale(1.6);
    }

    #badge {
        width: 25%;
        height: 25%;
    }

    .selfie_img {
        width: 60%;
        height: 20%;
    }

    .video_wrapper .portfolio_author img {
        width: 50px;
        height: 50px;
    }
}
